.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

cmake-build-debug/*
.idea/

# Local History for Visual Studio Code
.history/
main.exe